################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dx11minimal/.vs/dx11minimal
/.vs/torus/v17
/dx11minimal/dx11minimal/x64/Debug
