################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dx11minimal/.vs/dx11minimal
/.vs/torus/v17
/dx11minimal/dx11minimal/x64/Debug
/dx11minimal/dx11minimal/Debug/dx11minimal.exe.recipe
/dx11minimal/dx11minimal/Debug/dx11minimal.ilk
/dx11minimal/dx11minimal/Debug/dx11minimal.log
/dx11minimal/dx11minimal/Debug/dx11minimal.obj
/dx11minimal/dx11minimal/Debug/vc143.idb
/dx11minimal/dx11minimal/Debug/vc143.pdb
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/CL.command.1.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/Cl.items.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/CL.read.1.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/CL.write.1.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/dx11minimal.lastbuildstate
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/link.command.1.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/link.read.1.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/link.secondary.1.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/link.write.1.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/rc.command.1.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/rc.read.1.tlog
/dx11minimal/dx11minimal/Debug/dx11minimal.tlog/rc.write.1.tlog
/dx11minimal/Debug/dx11minimal.pdb
/dx11minimal/Debug/dx11minimal.exe
/dx11minimal/dx11minimal/Debug
/dx11minimal/dx11minimal/dx11minimal.vcxproj.filters
/.vs/VSWorkspaceState.json
/.vs/toruslighting/v17/.wsuo
/.vs/toruslighting/v17/DocumentLayout.json
